/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 80vh;
  height: 80;
  font-family: 'Roboto Mono', monospace;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  margin: auto;
}

ul .icones { 
   display: inline;
}

footer {
  margin-top: 30px;
}

header {
  margin-top: 15px;
}

div .container {
  width: 20%;
}

.carousel {
  height: 100%;
  width: 100%;
  
}

.texto-blog {
  font-size: 1.0rem;
  margin-top: 30px; 
  text-align: justify; 
}